<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header ng-include="'app/components/navbar/navbar.html'"></header>

    <!-- <div ui-view="MainContent"></div> -->

    <md-list ng-view="home" ng-init="getArticle()">
      <md-list-item class="md-3-line" ng-repeat="item in articles">
        <img ng-src="{{ item.user.profile_image_url }}" class="md-avatar" />
        <!-- <a class="md-list-item-text" href="{{ item.url }}"> -->
        <a class="md-list-item-text" href="{{ item.url }}" target="_blank">
          <h3>{{ item.title }}</h3>
          <h4>{{ item.created_at | date:'yyyy/MM/dd HH:mm' }}</h4>
          <!-- <p>{{ item.tags }}</p> -->
          <ul class="md-list-item-tags clearfix">
            <li ng-repeat="tag in item.tags">{{ tag.name }}</li>
          </ul>
        </a>
      </md-list-item>
    </md-list>


    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>OHAKO.inc</p>
      </md-toolbar>
    </footer>
  </md-content>

</div>
