// @import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")
//
// html
//   font-family 'Roboto Slab', serif

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

md-toolbar
  &.md-default-theme
    background-color #8BC34A

.md-list-item-text
  text-decoration none
  h3
    line-height 1.2rem!important

.md-list-item-tags
  list-style none
  padding-left 0
  li
    float left
    font-size 0.6rem
    color rgba(0,0,0,0.54)
    margin-right 5px


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
